/* CALENDAR */

.events-calendar h2 {
	font-size: 260%;
	margin-bottom: -20px;
	margin-top: 4px;
}
#block-custom-search {
	padding-left: 40px;
	padding-top: 10px;
}
#block-custom-search h2 {
	font-size: 195%;
	font-weight: bold;
}
div#calendar {
	margin-top: -40px;
}
#calendar .fc-view-container {
	margin-top: 40px;
}
.fc-right button, .fc-right h2 {
	display: inline;
	margin: 0 5px;
}
.fc-toolbar button {
	background: none;
	border: none;
	box-shadow: none;
	color: #0472de;
}
.fc-toolbar h2 {
	text-transform: none;
	font-size: 170%;
	color: #4e4e4e;
	font-family: 'Futura New';
}
.fc-row.fc-widget-header {}
thead.fc-head {
	display: none;
}
tbody.fc-body {}
td.fc-widget-content {}
.fc-scroller.fc-day-grid-container {
	overflow: visible !important;
	height: auto !important;
}
.fc-day-grid.fc-unselectable {}
.fc-row.fc-week.fc-widget-content {
	height: 78px !important;
	min-height: initial !important;
	overflow: hidden;
}
.fc-unthemed table {}
.fc-unthemed thead {}
.fc-unthemed tbody {}
.fc-row .fc-content-skeleton td, .fc-row .fc-helper-skeleton td {
	border-color: #e6e6e6;
	font-size: 160%;
	padding: 21px 10px 21px 50px;
}
.fc-row .fc-content-skeleton td:hover, .fc-row .fc-helper-skeleton td:hover {
	background: #0472de;
}
.fc-basic-view .fc-day-number, .fc-basic-view .fc-week-number {
	float: left !important;
	padding: 5px !important;
	/*margin-left: 32px;*/
	margin-left: -8px;
	font-weight: normal;
}
.fc-content-skeleton table thead {
	background: none;
}
.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
	border-color: #e6e6e6;
}
.fc-unthemed .fc-row.fc-week.fc-widget-content tbody {}
.fc-unthemed .fc-row.fc-week.fc-widget-content tbody td {
	background: none;
	position: relative;
}
.fc-unthemed .fc-row.fc-week.fc-widget-content tbody td.fc-event-container {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 9.3%;
	max-height: 47px;
	padding-right: 0;
}
.fc-unthemed .fc-row.fc-week.fc-widget-content tbody td.fc-event-container:hover {
	background: rgba(4, 114, 222, 0.8);
}
.fc-unthemed td.fc-today.fc-state-highlight {
	background: #ececec;
}
a.fc-day-grid-event.fc-h-event.fc-event {
	top: 10px;
	border-radius: 25px;
	margin: 0;
	margin-left: 30px;
	width: 25px;
	background: #0472de;
	display: block;
	line-height: 26px;
	text-align: center;
	border: 0;
}
.fc-unthemed .fc-row.fc-week.fc-widget-content tbody td.fc-event-container:hover a.fc-day-grid-event.fc-h-event.fc-event {
	background: #fff;
	color: #0472DE;
}

/* END CALENDAR */


/* EVENTS CALENDAR */

.events-calendar {
	margin-bottom: 30px;
}
.events-calendar .gray-bg-section {
	padding: 43px 75px 70px 95px;
}
.events-calendar .sidebar {
	padding-top: 80px;
	padding-left: 25px;
}
.events-calendar .sidebar a.link-ad {
	font-family: 'Futura New Demi';
	margin-top: 10px;
	margin-bottom: 25px;
	display: block;
	font-size: 115%;
	;
	color: #004d88;
	text-align: left;
	padding: 0 0 0 5px;
	font-weight: normal;
	letter-spacing: 1px;
}
.fc-toolbar.fc-header-toolbar {}
.fc-toolbar button {
	background: none;
	border: none;
	box-shadow: none;
	color: #a4a4a6;
	font-size: 120% !important;
	padding-top: 0px;
	height: 25px !important;
}
.menu-event-type {
	margin-left: 170px;
	margin-top: -14px;
	width: auto;
	display: table;
	font-size: 165%;
	position: absolute;
}
.menu-event-type .dropdown span {
	color: #0081ff;
}
.dropdown:hover .dropdown-content {
	display: block;
	z-index: 2;
	width: 200px;
}

.block-filters{
	margin: -14px 0 0 175px;
	position: absolute;
}
.block-filters .filter{
	font-size: 180%;
	font-weight: normal;
	color: #2f3034;
	display: table;
}
.block-filters .filter .current-value{
	color: #0081ff;
}
.block-filters .filter:after{
	content:"";
	display: table;
	float: right;
	margin-left: 10px;
	width: 19px;
	height: 19px;
	position: relative;
	top: 6px;
	background: transparent url(../images/arrow-down.png) no-repeat top left;
}
.block-filters .filter:hover:after{
	background: transparent url(../images/arrow-down.png) no-repeat top right;
}
.block-filters .menu.right{
	float: right !important;
	left: auto !important;
	right: 0;
	padding: 0;
}
.block-filters .menu li{
	width: 100%;
	display: table;
}
.block-filters .menu li:hover{
	background: #F2F2F2;
}
.fc-button:hover .fc-icon::after {
  color: #0081ff
}
/* END EVENTS CALENDAR */