html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  overflow-x: hidden;
}

body {
  font-family: "Futura New";
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Futura New Demi";
  font-weight: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #2f3034;
}

h1 {
  font-size: 36;
}

.front h1 {
  font-size: 32px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

p {
  font-family: "Futura New";
  color: #7f7f7f;
  font-size: 18px;
  font-weight: normal;
}

.hidden, .hide {
  display: none;
}
input, select, textarea, button{
  font-family: "Futura New";
}
/* END GLOBAL */
/* HEADER */
header .logo {
  padding: 22px 0;
}
header .top-bar {
  background: #fff;
  padding-left: 0;
  padding-right: 2px;
  padding-top: 12px;
}
header .top-bar ul {
  background: #fff;
}
header .top-bar a {
  color: #000;
}
header .menu-top a {
  font-size: 100%;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 0.0625em;
  padding-top: 10px;
}
header .primary_menu .menu-main > li:first-of-type a:first-of-type {
  padding-left: 0;
}
header .secondary_menu .menu-top > li:first-of-type a:first-of-type {
  padding-left: 0;
}
header .secondary_menu .menu-top li a {
  padding-right: 8px;
}
header .menu-main {
  width: 100%;
  display: block;
}
header .menu-main li {
  float: left;
  width: auto;
  display: inline-block;
  margin-right: 35px;
}
header .menu-main li.active {
  border-bottom: 2px solid #7bc145;
  padding-bottom: 7px;
  margin-bottom: -8px;
}
header .menu-main li:last-child {
  margin-right: 0;
}
header .menu-main a {
  text-transform: uppercase;
  font-size: 120%;
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 0;
  white-space: nowrap;
  letter-spacing: 0.04em;
  float: left;
  width: auto;
}
header a:hover {
  color: #7bc145;
}
header .menu-main li.active a {
  background: none;
  color: #7bc145;
}
header .menu-main li:last-child a {
  padding-right: 0;
}
header .menu-right {
  padding: 9px 0;
  position: relative;
  float: right;
  margin-right: 8px;
}
header .menu-right li a {
  font-weight: 400;
}
header .menu-right li:first-child a {
  padding: 20px 45% 20px 0;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}
header .menu-right .icon {
  height: auto;
  width: 23px;
  margin-top: -3px;
  float: left;
  position: absolute;
  left: -38px;
}
header .menu-right li a.button {
  padding: 20px 43px;
  font-size: 18px;
  color: #fff;
}

.top-bar .top-bar-right {
  width: 30%;
}
.top-bar .top-bar-left {
  width: 80%;
}
.site-top-bar .menu-icon{
  width: auto;
  display: table;
  padding-left: 25px;
  color: #fff;
  background: #0D72DC;
}
.site-top-bar .menu-icon::after{
  width: 20px;
}

/* END HEADER */
/* FOOTER */
footer {
  background: #e6e6e6;
  padding-top: 50px;
  padding-bottom: 20px;
  color: #000;
  font-size: 18px;
  border-top: 1px solid #e6e6e6;
  margin-top: 20px;
}

.front footer {
  background: #fff;
  margin-top: 0px;
}

footer a {
  color: #000;
}
footer .menu > li > a {
  padding: 8px;
}

img.footer-logo {
  margin-left: -78px;
  margin-bottom: 10px;
}

.region-copyrights .menu > li > a {
  padding: 8px 20px 0 20px;
}

/* END FOOTER */
/* BUTTONS */
.button {
  background: #7abf55;
  text-transform: uppercase;
  line-height: 1.1;
}
.button img {
  height: 20px;
  top: 17px;
  position: absolute;
  left: 12px;
}

/* END BUTTONS */
/* SOCIAL LINKS */
/* END SOCIAL LINK */
/* IMAGE BACKGROUND SECTION */
.image-bg-section {
  position: relative;
}
.image-bg-section img {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  top: 0;
}
.image-bg-section h3, .image-bg-section p, .image-bg-section a {
  position: relative;
  margin: 20px;
}

/* END IMAGE BACKGROUND SECTION */
/* BANNERS SIDEBAR */
.banners-sidebar {
  padding-right: 0;
  padding-left: 0;
  background: #ebebeb;
  padding: 30px 33px 0;
  margin: 0;
}
.banners-sidebar p {
  text-align: center;
}
.banners-sidebar p:last-child {
  padding-bottom: 20px;
}
.banners-sidebar .content img{
  margin-bottom: 20px;
}

/* END BANNERS SIDEBAR */
/* SHADOW TOP SECTIONS */
.shadow-top {
  position: relative;
  overflow: hidden;
}
.shadow-top .block {
  min-height: 586px;
}
.shadow-top::before {
  content: '';
  display: block;
  height: 30px;
  box-shadow: 0 10px 15px rgba(224, 224, 224, 0.66) inset;
  margin-left: -10px;
  margin-right: -10px;
  display: block;
  margin-bottom: -30px;
  z-index: 1;
  position: relative;
}
.shadow-top .block.image-bg-section {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}
.shadow-top .block.image-bg-section p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}
.shadow-top .block.image-bg-section .field-date {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.6);
  margin: 0px 45px;
  position: relative;
}
.shadow-top h3 {
  font-size: 150%;
  font-family: 'Futura New Demi';
  font-weight: normal;
  letter-spacing: 0.5px;
}
.shadow-top .block.image-bg-section h3 {
  margin: 25px 45px 20px 45px;
}
.shadow-top .block.image-bg-section p {
  margin: 5px 45px;
  line-height: 1.6;
}
.shadow-top .block.image-bg-section .button {
  font-size: 18px;
  margin-top: 60px;
  margin-left: 45px;
  display: table;
  width: auto;
  padding: 20px 35px;
  background: #0E72DC;
}
.shadow-top .block.image-bg-section .field-image:after{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background: transparent url(../images/gradient-white-home.png) repeat-x top left;
}

/* END SHADOW TOP SECTIONS */
/* SPONSORS BAR */
.sponsors-bar {
  padding: 10px 0;
  border-top: 1px solid #ebebeb;
  /* border-bottom: 1px solid #ebebeb; */
}
.sponsors-bar .title {
  color: #7bc145;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  line-height: 106px;
}
.sponsors-bar .title::after {
  content: '';
  display: block;
  width: 1px;
  height: 75px;
  background: #c5c5c5;
  position: absolute;
  top: 20px;
  right: 0;
}
.sponsors-bar img {
  max-height: auto;
}

.block-sponsors .columns {
  text-align: center;
}

/* END SPONSORS BAR */
/* BREADCRUMBS */
.breadcrumbs {
  border-top: 1px solid #f2f2f2;
  overflow: hidden;
  position: relative;
  padding-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.breadcrumb {
  padding-bottom: 15px;
  padding-left: 38px;
}

.breadcrumbs li {
  font-size: 90%;
  text-transform: none;
  color: #0467c9;
}
.breadcrumbs li:last-child {
  padding: 9px 0 8px;
  display: inline-block;
  width: auto;
}
.breadcrumbs a {
  padding: 9px 0 8px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none !important;
  width: auto;
}
.breadcrumbs a:hover {
  color: #7bc145;
}
.breadcrumbs li:not(:last-child)::after {
  position: relative;
  top: 4px;
  margin-left: 1.1rem;
  margin-right: 18px;
  opacity: 1;
  content: "";
  color: #cacaca;
  height: 12px;
  width: 8px;
  display: inline-block;
  background: transparent url(../images/arrow-right-gray.png) no-repeat top left;
}

/* END BREADCRUMBS */
/* MAIN-BANNER */
.content-top {
  background: #fff url(../images/gradient-header.png) repeat-x top left;
}

.main-banner {
  margin-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
  display: table;
  overflow: hidden;
}
.main-banner .block-inner-banner {
  border-right: 1px solid #e5e5e5;
  padding-bottom: 60px;
}
.main-banner .column {
  padding-left: 30px !important;
}
.main-banner .main-banner-inner .field-image{
  height: 365px;
  overflow: hidden;
  position: relative;
}
.main-banner .main-banner-inner .field-image:after{
  content: "";
  display: block;
  top: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  background: transparent url(../images/gradient-white-inner.png);
}
.main-banner .main-banner-inner .featured-text {
  font-size: 16px;
  color: #000;
  margin-top: -60px;
  margin-bottom: 30px;
}
.main-banner h1 {
  font-family: 'Futura New Demi';
  padding-left: 65px;
  font-weight: normal;
  font-size: 228%;
  margin-bottom: 14px;
  margin-top: 15px;
  letter-spacing: 0.002em;
}
.main-banner .main-banner-inner .field-desc {
  margin-top: -150px;
  padding-left: 30px;
}
.main-banner .main-banner-inner h2 {
  padding-left: 30px;
}
.main-banner .main-banner-inner p {
  padding-left: 30px;
  font-size: 150%;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: -0.32px;
}
.main-banner .main-banner-inner h2 {
  color: #7bc145;
  font-size: 230%;
  font-weight: normal;
  margin-bottom: 14px;
  letter-spacing: -0.7px;
}

/* END MAIN-BANNER */
/* SUBMENU */
.menu-accordion h2 {
  font-family: 'Futura New Demi';
  color: #7bc145;
  margin-top: 23px;
  margin-bottom: 18px;
  padding-left: 30px;
  font-size: 150%;
  font-weight: normal;
  letter-spacing: 0.002em;
}
.menu-accordion a {
  color: #000;
  font-size: 125%;
  padding: 20px;
  letter-spacing: -0.01px;
}
.menu-accordion .menu > li > a {
  padding: 22px 22px 22px 85px;
  position: relative;
  text-transform: uppercase;
}

.is-accordion-submenu-parent > a::after {
  display: none !important;
}

.menu > li > a img, .menu > li > a i, .menu > li > a svg {
  margin-right: 8px;
  position: absolute;
  left: 44px;
}

.menu-accordion .menu a {
  font-weight: normal;
  font-family: 'Futura New Demi';
}
.menu-accordion .menu .menu a {
  font-weight: normal;
}
.menu-accordion > ul > li > a {
  padding-left: 30px !important;
  font-weight: normal;
}
.menu-accordion a.active {
  background: #f2f2f2;
  color: #7bc145;
  text-transform: uppercase;
}
.menu-accordion .is-submenu-item a.active {
  background: none;
  color: #7bc145;
  text-transform: none;
  font-weight: normal;
}
.menu-accordion a:hover {
  color: #7abf55;
}
.menu-accordion li:not(:last-child) {
  border-bottom: 1px solid #f1f1f1;
}

.is-accordion-submenu-parent > a {
  border-bottom: 1px solid #f1f1f1;
}
.is-accordion-submenu-parent[aria-expanded="true"] > a::after {
  display: none;
}

.menu-accordion {
  padding-left: 0;
  padding-right: 0;
}
.menu-accordion > ul {
  border-left: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
}
.menu-accordion .submenu li {
  margin-left: 30px !important;
}
.menu-accordion .submenu li a {
  padding-left: 43px !important;
  font-size: 115%;
  letter-spacing: 0.35px;
  text-transform: none;
}
.menu-accordion .submenu a::before {
  content: '';
  background: url(../images/arrow-right-green.png) no-repeat;
  color: #7abf55;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 3px;
}

/* END SUBMENU */
/* BLUE BG SECTION */
.blue-bg-section {
  background: #0472de;
  padding: 30px 20px;
  margin-top: 7px;
  position: relative;
  margin-top: -40px;
}
.blue-bg-section h1, .blue-bg-section h2, .blue-bg-section h3, .blue-bg-section p, .blue-bg-section label {
  color: #fff;
}
.blue-bg-section input[type="radio"] {
  display: none;
}
.blue-bg-section label {
  background: #cde3f8;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 20px;
  margin: 0 5px 0 0;
  color: #0472de;
  position: relative;
  z-index: 10;
  font-weight: 500;
  font-size: 110%;
}
.blue-bg-section label span {
  position: relative;
}
.blue-bg-section label.last {
  margin-right: 10px;
}
.blue-bg-section label::before {
  content: '';
  display: block;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 42px solid #cde3f8;
  width: 60px;
  position: absolute;
  top: 6px;
  right: -10px;
}
.blue-bg-section label.active {
  background: #fff;
}
.blue-bg-section label.active::before {
  border-bottom: 50px solid #ffffff;
}
.blue-bg-section form {
  text-align: right;
  margin-top: 110px;
}
.blue-bg-section input[type="submit"] {
  position: relative;
  top: -69px;
  background: none;
  border: none;
  color: #0472de;
  right: 26px;
  text-transform: uppercase;
  font-size: 120%;
  letter-spacing: 0.06em;
  font-family: 'Futura New';
}
.blue-bg-section input#search {
  text-align: center;
  border: none;
  border-radius: 5px;
  border-top-right-radius: 0;
  font-size: 138%;
  padding: 28px;
  height: auto;
  color: rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0px 0px rgba(10, 10, 10, 0);
}
.blue-bg-section form::before {
  content: '';
  background: url(../images/icon-search-blue.png) no-repeat;
  display: block;
  height: 22px;
  width: 22px;
  margin-bottom: -92px;
  position: relative;
  z-index: 5;
  left: 30px;
  top: 12px;
}

.block-featured {
  padding: 25px 30px 0 30px;
  line-height: normal;
}
.block-featured img {
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.block-featured h3 {
  margin-bottom: 10px;
}
.block-featured .button {
  font-size: 120%;
  font-weight: normal;
  display: table;
  width: auto;
  padding: 20px 20px;
  background: #0E72DC;
  margin-top: 35px;
}

/* END BLUE BG SECTION */
/* GRAY SECTION */
.gray-bg-section {
  background: #ddd;
}

/* END GRAY SECTION */
/* TOPICS */
.topics {
  padding: 48px 50px;
  margin-top: -30px;
  border-top: 1px solid #e5e5e5;
}
.topics h2 {
  text-align: center;
  color: #7abf55;
  font-size: 200%;
  font-weight: bold;
  margin-bottom: 25px;
}
.topics .large-4 {
  width: 31%;
  margin-right: 50px;
}
.topics .large-4:last-child {
  margin-right: 0px;
}
.topics article {
  background: #f2f2f2;
  padding-bottom: 30px;
  min-height: 470px;
  position: relative;
  font-family: 'Futura New';
}
.topics article .field-desc {
  padding: 35px 30px 0px;
}
.topics article h3 {
  font-family: 'Futura New';
  text-transform: none;
  font-size: 145%;
  margin-bottom: 10px;
}
.topics article p {
  line-height: 1.3;
  font-size: 115%;
  letter-spacing: -0.2px;
  font-family: 'Futura New';
}
.topics article .article-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 35px;
  text-align: center;
  font-size: 13px;
  padding: 0 30px 0 40px;
}
.topics article .article-footer .columns {
  margin: 0;
  padding-left: 0;
}
.topics article .article-footer .field-date {
  font-size: 135%;
  text-align: left;
}
.topics article .row a.btn-readmore {
  text-transform: uppercase;
  font-size: 135%;
  float: right;
  letter-spacing: 1.5px;
}

footer .block-address .menu {
  margin-left: -15px;
  margin-top: 9px;
}
footer .block-address .menu li {
  margin-bottom: 10px;
}
footer .block-menu-primary {
  margin-top: 5px;
  margin-left: -22px;
}
footer .block-menu-primary li {
  margin-bottom: 2px;
}
footer .block-menu-primary a {
  font-size: 105%;
}
footer .block-menu-secondary {
  margin-top: 5px;
}
footer .block-menu-secondary a {
  font-size: 105%;
}
footer .block-menu-secondary li {
  margin-bottom: 2px;
}
footer .block-phone {
  margin-top: 10px;
  margin-left: 14px;
  border: 1px solid redt;
}
footer .block-phone li {
  margin-bottom: 10px;
}
footer .block-phone .horizontal {
  margin-top: 30px;
}
footer .block-phone .horizontal a {
  position: relative;
}
footer .block-phone .horizontal li:first-of-type a {
  padding-left: 0;
}
footer .block-phone .horizontal a img {
  position: relative;
  left: 0;
}

.region-copyrights {
  margin-top: 15px;
}
.region-copyrights hr {
  max-width: 1120px;
  margin-bottom: 14px !important;
}
.region-copyrights span {
  color: rgba(0, 0, 0, 0.35);
}
.region-copyrights .menu{
  margin-bottom: 10px;
}

/* END TOPICS */
/* LICENSING */
main .block-inner-banner .field-name-body {
  line-height: 1.8;
}

.licensing-requirements .main-banner .title {
  padding-left: 62px;
  color: #7bc145;
}
.licensing-requirements .block-inner-banner .featured-text {
  padding: 0 20px 0 65px;
  margin-top: -118px;
  margin-bottom: 34px;
  font-size: 150%;
  font-weight: normal;
  font-family: 'Futura New Demi';
  letter-spacing: -0.3px;
  color: #2f3034;
  position: absolute;
}
.licensing-requirements .block-inner-banner .field-name-body {
  color: #8d8d8d;
  padding-top: 0px;
  margin-top: -40px;
  letter-spacing: 0.045em;
}
.licensing-requirements .block-inner-banner .field-name-body .field-item {
  padding: 0 90px 0 33px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.licensing-requirements .block-ad {
  margin-top: 60px;
}

.block-inner-banner .field-name-body .field-item h2 {
  font-size: 190%;
  letter-spacing: -0.2px;
  text-transform: none;
  font-weight: normal;
  margin-bottom: 10px;
  font-family: "Futura New Demi";
  color: #2f3034;
}
.block-inner-banner .field-name-body .field-item h3 {
  font-size: 144%;
  text-transform: none;
  font-weight: normal;
  margin-bottom: 35px;
}
.block-inner-banner .field-name-body ul {
  list-style: disc !important;
  padding-left: 43px;
}

.block-list {
  margin-left: 60px;
  display: block;
  margin-bottom: 20px;
  padding-bottom: 25px;
  padding-top: 5px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 100%;
}

.block-number {
  font-size: 225%;
  font-weight: normal;
  float: left;
  margin-top: -8px;
  position: absolute;
  left: 30px;
  color: #7bc145;
  font-family: 'Futura New Demi';
}

.block-ad {
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* SEARCH */
#block-search-form{
  left: auto !important;
  right: 0;
}
#block-search-form label{
  display: none;
}
#block-search-form .form-submit {
    font-size: 120%;
    font-weight: normal;
    display: table;
    width: auto;
    padding: 5px 5px;
    background: #0E72DC;
    margin-top: 5px;
    border: 0;
    float: right;
    margin-right: 0;
    font-size: 100%;
    color: #fff;
}
#block-search-form input.form-text{
  max-width: 100% !important;
}