/* FONTS */
@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/FuturaStd-CondensedLightObl.eot');
  src: url('./fonts/FuturaStd-CondensedLightObl.eot?#iefix') format("embedded-opentype"), url('./fonts/FuturaStd-CondensedLightObl.woff') format("woff"), url('./fonts/FuturaStd-CondensedLightObl.ttf') format("truetype");
  font-weight: 300;
  font-style: italic;
}


@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/FuturaStd-MediumOblique.eot');
  src: url('./fonts/FuturaStd-MediumOblique.eot?#iefix') format("embedded-opentype"), url('./fonts/FuturaStd-MediumOblique.woff') format("woff"), url('./fonts/FuturaStd-MediumOblique.ttf') format("truetype");
  font-weight: 500;
  font-style: italic;
}


@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/FuturaStd-LightOblique.eot');
  src: url('./fonts/FuturaStd-LightOblique.eot?#iefix') format("embedded-opentype"), url('./fonts/FuturaStd-LightOblique.woff') format("woff"), url('./fonts/FuturaStd-LightOblique.ttf') format("truetype");
  font-weight: 300;
  font-style: italic;
}


@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/FuturaStd-ExtraBoldOblique.eot');
  src: url('./fonts/FuturaStd-ExtraBoldOblique.eot?#iefix') format("embedded-opentype"), url('./fonts/FuturaStd-ExtraBoldOblique.woff') format("woff"), url('./fonts/FuturaStd-ExtraBoldOblique.ttf') format("truetype");
  font-weight: 800;
  font-style: italic;
}


@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/FuturaStd-CondensedExtraBd.eot');
  src: url('./fonts/FuturaStd-CondensedExtraBd.eot?#iefix') format("embedded-opentype"), url('./fonts/FuturaStd-CondensedExtraBd.woff') format("woff"), url('./fonts/FuturaStd-CondensedExtraBd.ttf') format("truetype");
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/FuturaStd-Condensed.eot');
  src: url('./fonts/FuturaStd-Condensed.eot?#iefix') format("embedded-opentype"), url('./fonts/FuturaStd-Condensed.woff') format("woff"), url('./fonts/FuturaStd-Condensed.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/FuturaStd-Light.eot');
  src: url('./fonts/FuturaStd-Light.eot?#iefix') format("embedded-opentype"), url('./fonts/FuturaStd-Light.woff') format("woff"), url('./fonts/FuturaStd-Light.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/FuturaStd-CondExtraBoldObl.eot');
  src: url('./fonts/FuturaStd-CondExtraBoldObl.eot?#iefix') format("embedded-opentype"), url('./fonts/FuturaStd-CondExtraBoldObl.woff') format("woff"), url('./fonts/FuturaStd-CondExtraBoldObl.ttf') format("truetype");
  font-weight: 800;
  font-style: italic;
}


@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/FuturaStd-HeavyOblique.eot');
  src: url('./fonts/FuturaStd-HeavyOblique.eot?#iefix') format("embedded-opentype"), url('./fonts/FuturaStd-HeavyOblique.woff') format("woff"), url('./fonts/FuturaStd-HeavyOblique.ttf') format("truetype");
  font-weight: 900;
  font-style: italic;
}


@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/FuturaStd-BookOblique.eot');
  src: url('./fonts/FuturaStd-BookOblique.eot?#iefix') format("embedded-opentype"), url('./fonts/FuturaStd-BookOblique.woff') format("woff"), url('./fonts/FuturaStd-BookOblique.ttf') format("truetype");
  font-weight: normal;
  font-style: italic;
}


@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/FuturaStd-ExtraBold.eot');
  src: url('./fonts/FuturaStd-ExtraBold.eot?#iefix') format("embedded-opentype"), url('./fonts/FuturaStd-ExtraBold.woff') format("woff"), url('./fonts/FuturaStd-ExtraBold.ttf') format("truetype");
  font-weight: 800;
  font-style: normal;
}


@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/FuturaStd-CondensedBoldObl.eot');
  src: url('./fonts/FuturaStd-CondensedBoldObl.eot?#iefix') format("embedded-opentype"), url('./fonts/FuturaStd-CondensedBoldObl.woff') format("woff"), url('./fonts/FuturaStd-CondensedBoldObl.ttf') format("truetype");
  font-weight: bold;
  font-style: italic;
}


@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/FuturaStd-Heavy.eot');
  src: url('./fonts/FuturaStd-Heavy.eot?#iefix') format("embedded-opentype"), url('./fonts/FuturaStd-Heavy.woff') format("woff"), url('./fonts/FuturaStd-Heavy.ttf') format("truetype");
  font-weight: 900;
  font-style: normal;
}


@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/FuturaStd-CondensedOblique.eot');
  src: url('./fonts/FuturaStd-CondensedOblique.eot?#iefix') format("embedded-opentype"), url('./fonts/FuturaStd-CondensedOblique.woff') format("woff"), url('./fonts/FuturaStd-CondensedOblique.ttf') format("truetype");
  font-weight: 500;
  font-style: italic;
}


@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/FuturaStd-CondensedLight.eot');
  src: url('./fonts/FuturaStd-CondensedLight.eot?#iefix') format("embedded-opentype"), url('./fonts/FuturaStd-CondensedLight.woff') format("woff"), url('./fonts/FuturaStd-CondensedLight.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/FuturaStd-Medium.eot');
  src: url('./fonts/FuturaStd-Medium.eot?#iefix') format("embedded-opentype"), url('./fonts/FuturaStd-Medium.woff') format("woff"), url('./fonts/FuturaStd-Medium.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/FuturaStd-CondensedBold.eot');
  src: url('./fonts/FuturaStd-CondensedBold.eot?#iefix') format("embedded-opentype"), url('./fonts/FuturaStd-CondensedBold.woff') format("woff"), url('./fonts/FuturaStd-CondensedBold.ttf') format("truetype");
  font-weight: bold;
  font-style: normal;
}


/* font family */
$font-family-futura: 'Futura Std', Arial, sans-serif;

/* font setup */
$font-size-default: 18px;
	
.font_futura_regular {
	font-family: $font-family-futura;
	font-weight: 300;
	}
.font_futura_bold {
	font-family: $font-family-futura;
	font-weight: 400;
	}
	
/* default font */
body	{
	@extend .font_futura_regular;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: $font-size-default;
	line-height: 1.45;
	color: #7f7f7f;
	}
	
/* default header */
h1, h2, h3, h4, h5, h6	{
	@extend .font_futura_bold;
	font-weight: 400;
	letter-spacing: 0.5px;
	color: #000;
	text-transform: uppercase;
	}
h3, h4, h5, h6	{
	line-height: 1.3;
	color: #000;
	}
h1	{
	font-size: 32px;
	line-height: normal;
	color: #000;
	}
h2	{
	font-size: 22px;
	line-height: 1.2;
	color: #000;
	}
h3	{
	font-size: 20px;
	}
h4	{
	font-size: 18px;
	}
h5	{
	font-size: 18px;
	}
h6	{
	font-size: 18px;
	}
		
/* END FONTS */


