/* FONTS */

@font-face {
	font-family: 'Futura New';
	src: url('../fonts/FuturaNewMedium-Reg.eot');
	src: url('../fonts/FuturaNewMedium-Reg.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaNewMedium-Reg.woff') format('woff'), url('../fonts/FuturaNewMedium-Reg.ttf') format('truetype'), url('../fonts/FuturaNewMedium-Reg.svg#FuturaNewMedium-Reg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Futura New';
	src: url('../fonts/FuturaNewBold-Reg.eot');
	src: url('../fonts/FuturaNewBold-Reg.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaNewBold-Reg.woff') format('woff'), url('../fonts/FuturaNewBold-Reg.ttf') format('truetype'), url('../fonts/FuturaNewBold-Reg.svg#FuturaNewBold-Reg') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Futura New';
	src: url('../fonts/FuturaNewHeavy-Reg.eot');
	src: url('../fonts/FuturaNewHeavy-Reg.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaNewHeavy-Reg.woff') format('woff'), url('../fonts/FuturaNewHeavy-Reg.ttf') format('truetype'), url('../fonts/FuturaNewHeavy-Reg.svg#FuturaNewHeavy-Reg') format('svg');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Futura New Demi';
	src: url('../fonts/FuturaNewDemi-Reg.eot');
	src: url('../fonts/FuturaNewDemi-Reg.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaNewDemi-Reg.woff') format('woff'), url('../fonts/FuturaNewDemi-Reg.ttf') format('truetype'), url('../fonts/FuturaNewDemi-Reg.svg#FuturaNewDemi-Reg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* END FONTS */