/* FONTS */
@font-face {
	font-family: 'Futura Std';
	src: url('fonts/FuturaStd-Heavy.eot');
	src: url('fonts/FuturaStd-Heavy.eot?#iefix') format('embedded-opentype'),
		url('fonts/FuturaStd-Heavy.woff') format('woff'),
		url('fonts/FuturaStd-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Futura Std';
	src: url('fonts/FuturaStd-ExtraBold.eot');
	src: url('fonts/FuturaStd-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('fonts/FuturaStd-ExtraBold.woff') format('woff'),
		url('fonts/FuturaStd-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Futura Std';
	src: url('fonts/FuturaStd-Medium.eot');
	src: url('fonts/FuturaStd-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/FuturaStd-Medium.woff') format('woff'),
		url('fonts/FuturaStd-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Futura Std';
	src: url('fonts/FuturaStd-Medium.eot');
	src: url('fonts/FuturaStd-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/FuturaStd-Medium.woff') format('woff'),
		url('fonts/FuturaStd-Medium.ttf') format('truetype');
	font-weight: 600;
	font-style: bold;
}

@font-face {
	font-family: 'Futura Std';
	src: url('fonts/FuturaStd-Bold.eot');
	src: url('fonts/FuturaStd-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/FuturaStd-Bold.woff') format('woff'),
		url('fonts/FuturaStd-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

/* END FONTS */

/* GLOBAL */
html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}
body{
    font-family: "Futura Std";
    color: rgba(0,0,0,0.6);
    font-size: 16px;
	font-weight: 500;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Futura Std";
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #000;
    text-transform: uppercase;
}
h1{
    font-size: 36;
}
.front h1{
    font-size: 32px;
}
h2{
    font-size: 22px;
}
h3{
    font-size: 20px;
}
p {
    font-family: "Futura Std";
    color: #7f7f7f;
    font-size: 18px;
    font-weight: normal;
}
.hidden{
	display: none;
}
/* END GLOBAL */

/* HEADER */
header .logo {
    padding: 22px 0;
}
header .top-bar {
  background: #fff;
  padding-left: 0;
  padding-right: 0;
}
header .top-bar ul {
  background: #fff;
}
header .top-bar a {
  color: #000;
}
header .menu-top a {
    font-size: 100%;
    color: rgba(0,0,0,0.6);

}
header .primary_menu .menu-main > li:first-of-type a:first-of-type{
    padding-left: 0;
}
header .secondary_menu .menu-top > li:first-of-type a:first-of-type{
    padding-left: 0;
}
header .secondary_menu .menu-top li a{
    padding-right: 8px;
}
header .menu-main a {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 18px;
  padding-top: 0;
  white-space: nowrap;
  padding-right: 40px;
    letter-spacing: .7px;;
}
header .menu-right{
  padding: 9px 0;
  position:relative;
}
header .menu-right li a{
    font-weight: 400;
}
header .menu-right li:first-child a {
    padding: 20px 40px 20px 0;
    font-size: 18px;
    color: rgba(0,0,0,0.6);
}
header .menu-right .icon {
  height: auto;
  width: 23px;
    margin-top: -3px;
}
header .menu-right li a.button {
    padding: 20px 40px;
    font-size: 18px;
    color: #fff;
}
/* END HEADER */

/* FOOTER */
footer {
    background: #e6e6e6;
    padding-top: 50px;
    color: #000;
    font-size: 18px;
    border-top: 1px solid #e6e6e6;
    margin-top: 20px;
}
.front footer {
    background: #fff;
}
footer a{
	color: #000;
}
footer .menu>li>a{
	padding:8px;
}
img.footer-logo {
    margin-left: -78px;
    margin-bottom: 15px;
}
/* END FOOTER */

/* BUTTONS */
.button {
  background: #7abf55;
  text-transform:uppercase;
  line-height: 1.1;
  }
.button:hover {}
.button img{
  height: 20px;
  top: 17px;
  position: absolute;
  left: 12px;
}
/* END BUTTONS */



/* SOCIAL LINKS */
.social-link {}
/* END SOCIAL LINK */

/* IMAGE BACKGROUND SECTION */
.image-bg-section {
    position: relative;
}
.image-bg-section img {
  position:absolute;
  left:0;
  right:0;
  height: auto;
  width: 100%;
  top: 0;
}
.image-bg-section h3,
.image-bg-section p,
.image-bg-section a {
  position:relative;
  margin: 20px;
}
/* END IMAGE BACKGROUND SECTION */

/* BANNERS SIDEBAR */
.banners-sidebar {
    padding-right: 0;
    padding-left: 0;
}
.banners-sidebar p {
    background: #ebebeb;
    padding: 20px 33px 0;
    margin: 0;
    text-align: center;
}
.banners-sidebar p:last-child {
  padding-bottom: 20px;
}
/* END BANNERS SIDEBAR */

/* SHADOW TOP SECTIONS */
.shadow-top{
	position:relative;
	overflow: hidden;
}

.shadow-top::before {
  content:'';
  display:block;
  height:30px;
  box-shadow: 0 10px 15px rgba(224, 224, 224, 0.66) inset;
  margin-left: -10px;
  margin-right: -10px;
  display: block;
  margin-bottom:-30px;
  z-index:1;
  position:relative;
}
.shadow-top .block.image-bg-section, .shadow-top .block.image-bg-section p{
    font-size: 18px;
    color: rgba(0,0,0,0.6);
    font-weight: 400;
}
.shadow-top .block.image-bg-section .field-date{
    font-size: 24px;
    color: rgba(0,0,0,0.6);
    margin: 0px 45px;
    position: relative;
}
.shadow-top h3{
    font-size: 24px;
    font-weight: 600;
}
.shadow-top .block.image-bg-section h3{
    margin: 30px 45px 10px 45px;
}
.shadow-top .block.image-bg-section p{
    margin: 5px 45px;
    line-height: 1.6;
}
.shadow-top .block.image-bg-section .button{
    font-size: 18px;
    margin-top: 60px;
    margin-left: 45px;
    display: table;
    width: auto;
    padding: 20px 35px;
    background: #0E72DC;
}

/* END SHADOW TOP SECTIONS */

/* SPONSORS BAR */
.sponsors-bar {
    padding: 10px 0;
    border-top: 1px solid #ebebeb;
    /* border-bottom: 1px solid #ebebeb; */
}
.sponsors-bar .title{
    color: #7bc145;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    position:relative;
    line-height: 106px;
}
.sponsors-bar .title::after {
    content: '';
    display: block;
    width: 1px;
    height: 75px;
    background: #c5c5c5;
    position: absolute;
    top: 20px;
    right: 0;
}
.sponsors-bar img {
    max-height:auto;
}
.block-sponsors .columns{
    text-align: center;
}
/* END SPONSORS BAR */

/* BREADCRUMBS */
.breadcrumb {
    border-top: 1px solid #f2f2f2;
    overflow:hidden;
    position: relative;
    padding-bottom: 15px;
    padding-left: 48px;
}
.breadcrumb a {
    padding: 10px 0 8px; 
    display: inline-block;
    color: rgba(0,0,0,0.6);
    font-size: 14px;
}
.breadcrumb img{
    margin: 0 15px;
}
.breadcrumb::after {
  content:'';
  display:block;
  height:30px;
  box-shadow: 0 10px 15px rgba(224, 224, 224, 0.66) inset;
  display: block;
  margin-bottom:-30px;
  z-index:1;
  position: absolute;
  top: 40px;
  left: -10px;
  right: -10px;
}
/* END BREADCRUMBS */

/* MAIN-BANNER */
.main-banner {
    margin-bottom:30px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 60px;
    display: table;
    overflow: hidden;
    border-right: 1px solid #e5e5e5;
}

.main-banner .column{
  padding-left: 30px !important;
}
.main-banner .main-banner-inner .featured-text{
  font-size:16px;
  color:#000;
  margin-top: -60px;
  margin-bottom: 30px;
}
.main-banner .main-banner-inner h1{
    padding-left: 65px;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 10px;
}
.main-banner .main-banner-inner .field-desc{
    margin-top: -150px;
    padding-left: 30px;
}
.main-banner .main-banner-inner h2,
.main-banner .main-banner-inner p {
    padding-left: 30px;
}
.main-banner .main-banner-inner p{
    font-size: 24px;
    color: rgba(0,0,0,0.6);
}
.main-banner .main-banner-inner h2 {
    color: #7bc145;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 14px;
}
/* END MAIN-BANNER */

/* SUBMENU */
.menu-accordion h2 {
    color: #7bc145;
    margin-top: 10px;
    margin-bottom: 18px;
    padding-left: 20px;
    font-size: 24px;
}
.menu-accordion a {
    color: #000;
    font-size: 18px;
    padding: 20px;
}
.menu-accordion .menu > li > a{
    padding: 22px 22px 22px 45px;
}
.menu-accordion .menu a{
    font-weight: bold;
}
.menu-accordion .menu .menu a{
    font-weight: normal;
}
.menu-accordion>ul>li>a {
	padding-left: 30px !important;
    font-weight: bold;
}
.menu-accordion a.active{
	background:#f2f2f2;
    color: #7bc145;
    text-transform: uppercase;
    font-weight: bold;
}
.menu-accordion .is-submenu-item a.active{
	background: none;
    color: #7bc145;
    text-transform: none;
    font-weight: normal;
}
.menu-accordion a:hover {
    color: #7abf55;
}
.menu-accordion li:not(:last-child),
.is-accordion-submenu-parent > a {
    border-bottom:1px solid #f1f1f1;
}
.menu-accordion {
    padding-left: 0;
    padding-right: 0;
}
.menu-accordion >ul{
    border-left: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
}
.menu-accordion .submenu li{
    margin-left: 30px !important;
}
.menu-accordion .submenu li a{
	padding-left: 43px !important;
}
.menu-accordion .submenu a::before{
	content:'';
	background: url(images/arrow-right-green.png) no-repeat;
	color: #7abf55;
	width: 12px;
	height: 12px;
	display: inline-block;
}
/* END SUBMENU */

/* BLUE BG SECTION */
.blue-bg-section {
    background: #0472de;
    padding: 30px 20px;
    margin-top: 7px;
}
.blue-bg-section h1,
.blue-bg-section h2,
.blue-bg-section h3,
.blue-bg-section p,
.blue-bg-section label {
    color: #fff;
}
.blue-bg-section input[type="radio"]{
	display:none;
}
.blue-bg-section label {
	background: #cde3f8;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 5px 10px;
	margin:0 1px;
	color:  #0472de;
	position:relative;
	z-index:10;
}
.blue-bg-section label span {
	position:relative
}
.blue-bg-section label.last{
	margin-right:5px;
}
.blue-bg-section label::before {
	content:'';
	display:block;
	border-left: 0px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 31px solid #cde3f8;
	width:30px;
	position:absolute;
	top:4px;
	right:-5px;
}
.blue-bg-section label.active {
	background:#fff;
}
.blue-bg-section label.active::before {
	border-bottom: 31px solid #ffffff;
}
.blue-bg-section form {
    text-align:right;
    margin-top: 110px;
}
.blue-bg-section input[type="submit"] {
    position: relative;
    top: -48px;
    background: none;
    border: none;
    color: #0472de;
    right: 5px;
}
.blue-bg-section input#search {
    text-align:center;
    border:none;
    border-radius:5px;
    border-top-right-radius:0;
}
.blue-bg-section form::before {
    content:'';
    background: url(images/icon-search-blue.png) no-repeat;
    display:block;
    height:20px;
    width:20px;
    margin-bottom: -64px;
    position: relative;
    z-index: 5;
    left: 10px;
}
.block-featured {
    padding: 30px 30px 0 30px;
    line-height: normal;
}
.block-featured img{
    margin-bottom: 20px;
    -webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
}
.block-featured h3{
    margin-bottom: 10px;
}
.block-featured .button{
    font-size: 18px;
    font-weight: normal;
    display: table;
    width: auto;
    padding: 20px 20px;
    background: #0E72DC;
    margin-top: 20px;
}
/* END BLUE BG SECTION */


/* GRAY SECTION */
.gray-bg-section {
    background: #ddd;
}
/* END GRAY SECTION */

/* TOPICS */
.topics {
    padding:48px 50px;
    margin-top: -30px;
    border-top: 1px solid #e5e5e5;
}
.topics h2 {
    text-align:center;
    color: #7abf55;
    font-size: 200%;
    font-weight: bold;
    margin-bottom: 25px;
}
.topics .large-4{
    width: 31%;
    margin-right: 50px;
}
.topics .large-4:last-child{
    margin-right: 0px;
}

.topics article{
    background: #f2f2f2;
    padding-bottom:30px;
    min-height: 470px;
    position:relative;
}
.topics article h3{
    padding: 35px 30px 0px;
    text-transform:none;
    font-size: 150%;
}
.topics article p{
    padding: 00px 30px 10px;
}
.topics article .article-footer{
    position:absolute;
    left:0;
    right:0;
    bottom: 35px;
    text-align: center;
    font-size:13px;
    padding: 0 40px;
}
.topics article .article-footer .columns{
    margin: 0;
    padding-left: 0;
}
.topics article .article-footer .field-date{
    font-size: 125%;
    text-align: left;
}
.topics article .row a.btn-readmore{
	text-transform: uppercase;
    font-size: 125%;
    float: right;
    letter-spacing: 0.12em;
}

footer .block-address .menu{
    margin-left: -15px;
    margin-top: 10px;
}
footer .block-menu-primary{
    margin-top: 10px;
    margin-left: -20px;
}
footer .block-menu-secondary{
    margin-top: 10px;
}
footer .block-phone{
    margin-top: 10px;
    margin-left: 14px;
}
footer .block-phone .horizontal{
    margin-top: 30px;
}
.region-copyrights{
    margin-top: 15px;
}
.region-copyrights hr{
    max-width: 1120px;
}
.region-copyrights span{
    color: rgba(0,0,0,0.5);
}

/* END TOPICS */

/* LICENSING */
main .block-inner-banner .field-name-body{
    line-height: 1.8;
}
.licensing-requirements .main-banner .title{
    font-weight: bold;
    padding-left: 62px;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #7bc145;
}
.licensing-requirements .block-inner-banner .featured-text{
    padding: 0 20px 0 65px;
    margin-top: -125px;
    margin-bottom: 34px;
    font-size: 125%;
    font-weight: bold;
}
.licensing-requirements .block-inner-banner .field-name-body{
    color: #8d8d8d;
}
.licensing-requirements .block-inner-banner .field-name-body .field-item{
    padding: 0 90px 0 33px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.licensing-requirements .block-inner-banner .field-name-body .field-item h2{
    font-size: 148%;
    text-transform: none;
    font-weight: bold;
    margin-bottom: 35px;
}
.licensing-requirements .block-inner-banner .field-name-body .field-item h3{
    font-size: 124%;
    text-transform: none;
    font-weight: bold;
    margin-bottom: 35px;
}
.licensing-requirements .block-inner-banner .field-name-body ul{
    list-style: disc !important;
    padding-left: 43px;
}

.block-list{
   margin-left: 60px; 
    display: block; 
    margin-bottom: 20px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e5e5;
}
.block-number{
    font-size: 32px;
    font-weight: bold;
    float: left;
    margin-top: -8px;
    position: absolute;
    left: 30px;
    color: #7bc145;
}


